// color
$main-black: #191717;
$main-white: #f1efef;
$main-red: #d71313;
$primary-color: #7d7c7c;
$secondary-color: #ccc8aa;

// breakpoints
$breakpoint-small: 640px;
$breakpoint-medium: 768px;
$breakpoint-large: 1024px;
$breakpoint-xlarge: 1280px;
