@import 'global';

@media screen and (min-width: $breakpoint-large) {
  header {
    .hamburger {
      display: none;
    }

    .navigation {
      position: static;
      width: 100%;
      justify-content: flex-end;

      ul {
        flex-direction: row;
        gap: 2rem;
      }
    }
  }
}
