<div class="restaurant-item__header">
    <img
        id="restaurant-item-picture"
        class="restaurant-item__header__picture"
        loading="lazy"
    />
    <div class="restaurant-item__header__rating">
        <p>
            ⭐️<span
                id="restaurant-item-rating"
                class="restaurant-item__header__rating__score"
            ></span>
        </p>
    </div>
</div>
<div class="restaurant-item__content">
    <h3 id="restaurant-item-name"></h3>
    <p id="restaurant-item-description"></p>
</div>
