<a id="restaurant-item-anchor" href="#">
    <div class="restaurant-item__header">
        <img
            id="restaurant-item-picture"
            class="restaurant-item__header__picture skeleton-loader"
            loading="lazy"
        />
        <div class="restaurant-item__header__rating">
            <p>
                ⭐️<span
                    id="restaurant-item-rating"
                    class="restaurant-item__header__rating__score skeleton-loader"
                ></span>
            </p>
        </div>
    </div>
    <div class="restaurant-item__content">
        <h3 id="restaurant-item-name" class="skeleton-loader"></h3>
        <p id="restaurant-item-description" class="skeleton-loader"></p>
    </div>
</a>
