<a id="restaurantItemAnchor" href="#">
  <div class="restaurant-item__header">
    <img
      id="restaurantItemPicture"
      class="restaurant-item__header__picture skeleton-loader"
      loading="lazy"
    />
    <div class="restaurant-item__header__rating">
      <p>
        ⭐️<span
          id="restaurantItemRating"
          class="restaurant-item__header__rating__score skeleton-loader"
        ></span>
      </p>
    </div>
  </div>
  <div class="restaurant-item__content">
    <h3 id="restaurantItemName" class="skeleton-loader"></h3>
    <p id="restaurantItemDescription" class="skeleton-loader"></p>
  </div>
</a>
