<div class="restaurant-detail">
  <img
    id="restaurantPicture"
    class="restaurant-detail__picture skeleton-loader"
    height="500"
    width="1000"
    loading="lazy"
  />
  <div class="restaurant-detail__info">
    <div class="restaurant-detail__info__container">
      <h2 id="restaurantName" class="skeleton-loader"></h2>
      <favorite-button></favorite-button>
    </div>
    <div class="restaurant-detail__info__container">
      <h3>Address</h3>
      <p id="restaurantAddress" class="skeleton-loader"></p>
    </div>
    <div class="restaurant-detail__info__container">
      <h3>City</h3>
      <p id="restaurantCity" class="skeleton-loader"></p>
    </div>
    <div class="restaurant-detail__info__container">
      <h3>Rating</h3>
      <p id="restaurantRating" class="skeleton-loader"></p>
    </div>
  </div>
  <div class="restaurant-detail__description">
    <div class="restaurant-detail__description__container">
      <h3>Description</h3>
      <p id="restaurantDescription" class="skeleton-loader"></p>
    </div>
    <div class="restaurant-detail__description__container">
      <h3>Food</h3>
      <ul id="restaurantFoods" class="skeleton-loader"></ul>
    </div>
    <div class="restaurant-detail__description__container">
      <h3>Drinks</h3>
      <ul id="restaurantDrinks" class="skeleton-loader"></ul>
    </div>
  </div>
  <div class="restaurant-detail__customer-reviews">
    <h3>Customer Reviews</h3>
    <div
      id="restaurantReviews"
      class="restaurant-detail__customer-reviews__container skeleton-loader"
    ></div>
    <form
      id="reviewForm"
      class="restaurant-detail__customer-reviews__form skeleton-loader"
    >
      <h4>Post your review</h4>
      <table>
        <tr>
          <td>
            <label for="name">Name</label>
          </td>
          <td>
            <p>:</p>
          </td>
          <td>
            <input type="text" name="name" id="name" />
          </td>
        </tr>
        <tr>
          <td>
            <label for="review">Review</label>
          </td>
          <td>
            <p>:</p>
          </td>
          <td>
            <textarea name="review" id="review" cols="20" rows="5"></textarea>
          </td>
        </tr>
      </table>
      <button type="submit">Kirim</button>
    </form>
  </div>
</div>
