<article class="hero">
    <h1>Mypi Resto Group:</h1>
    <h2>Nikmati Ragam Rasa bersama Mypi Resto Group</h2>
    <img class="hero__image" src="./hero-image.jpg" alt="hero" />
</article>
<article class="menu">
    <h1>Menu Kami</h1>
    <p>
        Dengan bangga kami menyajikan beragam menu yang memadukan cita rasa
        klasik dengan kreasi kuliner terkini. Temukanlah berbagai pilihan lezat
        yang akan memenuhi selera Anda dalam setiap kunjungan.
    </p>
    <div class="menu__list"></div>
</article>
<article class="restaurant">
    <h1>Restoran Kami</h1>
    <p>
        Sejak berdiri, kami telah berkomitmen untuk memberikan pengalaman
        kuliner terbaik kepada para pelanggan kami. Setiap restoran dalam
        jaringan kami adalah cerminan dari dedikasi kami untuk memberikan
        hidangan berkualitas tinggi, suasana yang ramah, dan pelayanan yang
        istimewa
    </p>
    <div class="restaurant__list"></div>
</article>
