@import '../../../../styles/global';

.restaurant-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;

  #restaurantListTitle {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 2rem;
    text-align: center;
  }

  #restaurantListContainer {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  #restaurantListNotFound {
    font-size: 1.8rem;
    font-weight: 400;
    margin-top: 2rem;
    text-align: center;
  }
}

@media screen and (min-width: $breakpoint-small) {
  .restaurant-list {
    #restaurantListContainer {
      grid-template-columns: 1fr 1fr;
    }
  }
}

@media screen and (min-width: $breakpoint-medium) {
  .restaurant-list {
    #restaurantListContainer {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media screen and (min-width: $breakpoint-large) {
  .restaurant-list {
    #restaurantListContainer {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

@media screen and (min-width: $breakpoint-xlarge) {
  .restaurant-list {
    #restaurantListContainer {
      grid-template-columns: repeat(5, 1fr);
    }
  }
}
