@import '../../../../styles/global';

.toast {
  background-color: $main-red;
  color: $main-white;
  z-index: 100;
  padding: 0.5rem 0.75rem;
  max-width: 20rem;
  font-size: 1.5rem;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: fixed;
  top: 8rem;
  right: 1.5rem;
  transition: right 0.5s ease-in-out;
  animation: slideIn 0.5s ease;

  &.close {
    right: -100%;
  }

  button {
    width: fit-content;
    height: fit-content;
    padding-left: 1.5rem;

    svg {
      width: 2.75rem;
      height: 2.75rem;

      path {
        fill: $main-white;
      }
    }
  }
}

@keyframes slideIn {
  0% {
    right: -100%;
  }
  100% {
    right: 1.5rem;
  }
}
